body,
.info a {
    background-color: black;
    color: #007891;
}

.outline {
  text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
}

/* Ribbon */
.github-fork-ribbon:before {
  background-color: #007891;
}
.github-fork-ribbon:after {
  color: black;
}
